* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.grid-container {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 5% 20% 35% 15% 25%;
}

.grid-item {
    font-size: 1.2rem !important;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}